<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.showclear.www.dao.base.SearchDao">

    <resultMap id="productByNumberResult" type="cn.showclear.www.pojo.base.ProductDo">
        <result property="productNumber" column="product_number"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="depreciationRate" column="depreciation_rate"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="typeCode" column="type_code"/>
        <result property="saleWayCode" column="sale_way_code"/>
        <result property="timeLimit" column="time_limit"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="searchProductByNumber" parameterType="java.lang.String" resultMap="productByNumberResult" >
        SELECT product_number, name, description, image, depreciation_rate, quantity, price, type_code, sale_way_code, time_limit, user_id FROM T_PRODUCT WHERE product_number=#{productNumber} AND is_sold = 0
    </select>

    <resultMap id="productByKeyResult" type="cn.showclear.www.pojo.base.ProductDo">
        <result property="productNumber" column="product_number"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="saleWayCode" column="sale_way_code"/>
    </resultMap>
    <select id="searchProductByKey" parameterType="java.lang.String" resultMap="productByKeyResult" >
        SELECT product_number, name, image, price, sale_way_code FROM T_PRODUCT WHERE name LIKE "%"#{searchKey}"%" AND is_sold = 0
    </select>

    <resultMap id="productByTypeResult" type="cn.showclear.www.pojo.base.ProductDo">
        <result property="productNumber" column="product_number"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="saleWayCode" column="sale_way_code"/>
    </resultMap>
    <select id="searchProductByType" parameterType="java.lang.String" resultMap="productByTypeResult" >
        SELECT product_number, name, image, price, sale_way_code FROM T_PRODUCT WHERE type_code=#{searchType} AND is_sold = 0
    </select>
<!--
    <resultMap id="productByConditionResult" type="cn.showclear.www.pojo.base.ProductDo">
        <result property="productNumber" column="product_number"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="saleWayCode" column="sale_way_code"/>
    </resultMap>
    <select id="searchProductByCondition" parameterType="cn.showclear.www.pojo.base.SearchProductConditionQo" resultMap="productByConditionResult" >
        SELECT product_number, name, image, price, sale_way_code FROM T_PRODUCT WHERE type_code=#{searchKey} AND is_sold = 0
    </select>
-->
    <resultMap id="demandInfoByNumberResult" type="cn.showclear.www.pojo.base.DemandInfoDo">
        <result property="demandInfoNumber" column="demand_info_number"/>
        <result property="name" column="name"/>
        <result property="depreciationRate" column="depreciation_rate"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="typeCode" column="type_code"/>
        <result property="other" column="other"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="searchDemandInfoByNumber" parameterType="java.lang.String" resultMap="demandInfoByNumberResult" >
        SELECT demand_info_number, name, type_code, depreciation_rate, quantity, price, other, user_id FROM T_DEMAND_INFO WHERE demand_info_number=#{demandInfoNumber}
    </select>

    <resultMap id="demandInfoByKeyResult" type="cn.showclear.www.pojo.base.DemandInfoDo">
        <result property="demandInfoNumber" column="demand_info_number"/>
        <result property="name" column="name"/>
        <result property="depreciationRate" column="depreciation_rate"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="typeCode" column="type_code"/>
        <result property="other" column="other"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="searchDemandInfoByKey" parameterType="java.lang.String" resultMap="demandInfoByKeyResult" >
        SELECT demand_info_number, name, type_code, depreciation_rate, quantity, price, other, user_id FROM T_DEMAND_INFO WHERE name LIKE "%"#{searchKey}"%"
    </select>

    <resultMap id="demandInfoByTypeResult" type="cn.showclear.www.pojo.base.DemandInfoDo">
        <result property="demandInfoNumber" column="demand_info_number"/>
        <result property="name" column="name"/>
        <result property="depreciationRate" column="depreciation_rate"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="typeCode" column="type_code"/>
        <result property="other" column="other"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="searchDemandInfoByType" parameterType="java.lang.String" resultMap="demandInfoByTypeResult" >
        SELECT demand_info_number, name, type_code, depreciation_rate, quantity, price, other, user_id FROM T_DEMAND_INFO WHERE type_code=#{searchType}
    </select>
<!--
    <resultMap id="demandInfoByConditionResult" type="cn.showclear.www.pojo.base.DemandInfoDo">
        <result property="productNumber" column="product_number"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="saleWayCode" column="sale_way_code"/>
    </resultMap>
    <select id="searchDemandInfoByCondition" parameterType="cn.showclear.www.pojo.base.SearchDemandInfoConditionQo" resultMap="demandInfoByConditionResult" >
        SELECT product_number, name, image, price, sale_way_code FROM T_PRODUCT WHERE type_code=#{searchKey} AND is_sold = 0
    </select>
-->
</mapper>